<ion-header-bar class="bar-positive formdetails-header-bar">
	<div class="custom_header_back" ng-click="backToSettings();"><img src="img/back.png" class="header-back" ></div>
	 <h1 class="title tabs-title-lable" style="margin-left: 55px;"> Change Password</h1>	
</ion-header-bar>
<ion-view  style="background-color:#eee;" hide-nav-bar="true">

<form method="post">
<div class="changepassword">
<input type="{{inputType}}" class="input-label-chngpwd" placeholder="Enter Current Password" data-ng-model="passwordData.oldpassword" style="height: 60px;">
<input type="{{inputType}}" class="input-label-chngpwd" placeholder="Enter New Password" data-ng-model="passwordData.newpassword" style="height: 60px;">
<input type="{{inputType}}" class="input-label-chngpwd" placeholder="Re-Enter Password" data-ng-model="passwordData.repwd" style="height: 60px;">
<span style="color: red;" ng-if="passwordData.newpassword.length > 0 && passwordData.repwd.length > 0 && passwordData.newpassword !== passwordData.repwd">Passwords didn't match</span>

<div style="padding-top: 10px;color: #444;">
<input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
  <label for="checkbox" ng-if="passwordCheckbox">Hide password</label>
  <label for="checkbox" ng-if="!passwordCheckbox">Show password</label>
</div>
</div>
 <input type="submit" value="Update Password" style="background-color: #f38022;
     color: #fafafa;width: 70%;
    margin-left: 55px;" ng-click="changePassword(passwordData)"/>

</form>

</ion-view>