<ion-header-bar class="bar-positive formdetails-header-bar forgptPassword" >
    <div class="custom_header_back" ng-click="backTologin();"><img src="img/back.png" class="header-back" ></div>
     <h1 class="title tabs-title-lable" style="margin-left: 118px;
    margin-top: 5px;"> Forgot Password ?</h1> 
</ion-header-bar>
<ion-view>
   
    <ion-content style="background-color:#f38022">
       
		<form method="" style="margin-top: 205px;
    position: fixed;
    width: 88%;
    margin-left: 18px;">
        <div class="list inputfields">
             <ion-md-input placeholder="Username" highlight-color="balanced" type="text" data-ng-model="user.username"></ion-md-input> 
		
        </div>
		 
        <div class="loginbt-padding">
		 <input type="submit" value="SUBMIT" style="width: 94%;
    margin-top: -2px;
    margin-left: 6px;" ng-click="getPassword(user)"/>
       </div>
       </form>
    </ion-content>
</ion-view>
 