<ion-popover-view class="history-popover" style="height: 75px;">
			
      <ion-content style="position: fixed;overflow-y: auto;">
         
        <div ng-click="checkRecord()" ng-hide="select_hide" style="margin-left: 22px;margin-top: 9px;margin-bottom: 8px;">
		Select
		</div>
		<div  ng-click="checkAll()" ng-hide="select_all_hide" ng-model="selectedAll" style="margin-left: 22px;margin-top: 9px;margin-bottom: 8px;">
		Select All
		</div>
		
      </ion-content>
		
   </ion-popover-view>
   
  
			
     
	