<!-- <ion-header-bar class="bar-positive formdetails-header-bar">
	<div class="custom_header_back" ng-click="backToSettings();"><img src="img/back.png" class="header-back" ></div>
	 <h1 class="title tabs-title-lable" style="margin-left: 55px;"> About Us</h1>	
</ion-header-bar>
<ion-view  style="background-color:#eee;top: -50px;" hide-nav-bar="true">
   <ion-content direction="y" scrollbar-y="false" class="setting-background">
   <ion-list>
				<img src="img/UElogo.jpg" class="logo_header_aboutus">
				<p style="margin-left:24px;" class="aboutus_text"> <b style="font-weight: bold;">United Engery</b> As The Intelligent Utility we’re giving our customers access to the best technology and the most advanced network, with a priority on efficiency and on building our reputation by meeting your current and future requirements.</p>
	</ion-list>
	</ion-content>
</ion-view>
 -->
 <ion-header-bar class="bar-custom formdetails-header-bar">
    <div class="custom_header_back" ng-click="backToSettings();"><img src="img/back.png" class="header-back"></div>
    <h1 class="title tabs-title-lable" style="margin-left: 55px;">
        About Us</h1>
</ion-header-bar>
<ion-view style="background-color:#FFF;top: -50px;" hide-nav-bar="true">
    <ion-content direction="y" scrollbar-y="false" class="setting-background">
        <ion-list style="margin: 24px;">
            <div class="row" style="padding-top: 70px;">
                <div class="col-20"></div>
                <div class="col-60">
                    <center>
                        <img src="img/UElogo.jpg" class="logo_header_aboutus">
                    </center>
                </div>
               
            </div>
            <div>
                <p class="aboutus_text">
                    <b style="font-weight: bold; color: black;">United Engery</b>
                    As The Intelligent Utility we’re giving our customers access to the best technology and the most advanced network, with a priority on efficiency and on building our reputation by meeting your current and future requirements.</p>
            </div>
            <div style="text-align: center; margin-top: 50px;">
                <a class="aboutus_link" ng-click="goToSite();">www.formsz.com</a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
