<ion-header-bar class="bar-custom formdetails-header-bar" ng-init="getNotifications();">
   <h1 class="title tabs-title-lable" style="text-align: center;"> Notifications</h1>
</ion-header-bar>
	
<ion-view  style="top: -50px;" hide-nav-bar="true">
	<ion-content direction="y" scrollbar-y="false" style="position:absolute;">
		<ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshNotification()"></ion-refresher>
		<div class="list" ng-if="status">
			<a class="item" href="" style="border-bottom: 1px solid #ddd;" ng-repeat="item in items" ng-show="item.actionType=='reassign'" ng-click="navigateToRecord(item)" ng-class="item.status ? 'self' : 'self1'">
			
			    <p>Admin has re-assigned address <b>{{item.displayValues}}</b> for <b>{{item.taskName}}</b> Job
                </p>
			    <!-- <div style="float: right;margin-top: 47px;width: 21%;font-size: x-small;" am-time-ago="item.time"></div> -->
			   <span class="item-note">
            <i class="icon ion-clock"></i>&nbsp;<small am-time-ago="item.time"></small>
           </span>
			</a>

			<a class="item self" href="" style="border-bottom: 1px solid #ddd;" ng-repeat="item in items" ng-show="item.actionType=='assignjob'"  ng-click="navigateToTask(item)">
			    <p>Admin has assigned <b>{{item.taskName}}</b> Job</p>
			<span class="item-note">
            <i class="icon ion-clock"></i>&nbsp;<small am-time-ago="item.time"></small>
           </span>
			</a>
			
		</div>
		<div ng-if="(status) && (items !== undefined && !items.length)" class="no-results" style="padding-top: 155px;">
		 <p class="custom-nohistory">No Notifications
		</p>
		</div>
<div ng-if="!status" style="margin-top: 50%;">
  <center>
  <img src="img/Offline.png" style="width: 150px;height: 150px;">
  </center>
</div>
	</ion-content>
</ion-view>