<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ion-md-input/css/ion-md-input.min.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  	<link rel="stylesheet" href="lib/ion.rangeslider/css/normalize.css" />
    <link rel="stylesheet" href="lib/ion.rangeslider/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="lib/ion.rangeslider/css/ion.rangeSlider.skinHTML5.css" />
    <!-- help overlays strarts-->
    <link rel="stylesheet" href="bower_components/ng-walkthrough-master/css/ng-walkthrough.css">

	<script src="js/jquery-1.12.3.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
    <script src="lib/ion-md-input/js/ion-md-input.min.js"></script>
	<link href="lib/ionic-filter-bar/dist/ionic.filter.bar.min.css" rel="stylesheet">  
	<script src="lib/ionic-filter-bar/dist/ionic.filter.bar.js"></script>  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.8/roundProgress.min.js"></script>

	<script src='lib/signature_pad/signature_pad.js'></script>
	<script src="js/ng-cordova.min.js"></script>  
	<script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
	<script src="lib/ionic-rating/ionic-rating.js"></script>
	<script src="lib/ion.rangeslider/js/ion.rangeSlider.js"></script>
	<script src="lib/ion.rangeslider-angularjs/ionic-range-slider.js"></script>
    <script src="cordova.js"></script>
     <!--leaflet libraries  -->
	  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script> 
   	<script src="lib/leaflet/dist/leaflet.js"></script>
    <script src="lib/angular-leaflet-directive.js"></script>
    <link rel="stylesheet" href="lib/leaflet/dist/leaflet.css"/>
	   <!-- <script src="js/leaflet-tilelayer-wmts.js"></script>  -->
      <script src="https://rawgithub.com/mylen/leaflet.TileLayer.WMTS/master/leaflet-tilelayer-wmts.js"></script>

    <script src="lib/leaflet-routing-machine/js/leaflet-routing-machine.js"></script>
    <script src="lib/leaflet-routing-machine/js/Control.Geocoder.js"></script>
    <script src="lib/leaflet-routing-machine/js/config.js"></script>
	<script src="lib/leaflet-routing-machine/js/Leaflet.Icon.Glyph.js"></script>
	<!--leaflet libraries  -->
    <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
	<!-- help overlays strarts-->
  <!-- <script type="text/javascript" src="bower_components/ng-walkthrough-master/ng-walkthrough.js"></script> -->
  <script type="text/javascript" src="bower_components/ng-walkthrough-master/ng-walkthrough.tap_icons.js"></script>
<!-- help overlays ends here -->
  <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script> 
    <script src="js/constants.js"></script> 
	<script src="js/messages.js"></script>
	<!-- your controller's js -->
	<script src="js/controllers/loginController.js"></script>  
    <script src="js/controllers/dashboardController.js"></script> 
    <script src="js/controllers/notificationCtrl.js"></script> 
    <script src="js/controllers/formsController.js"></script> 
    <script src="js/controllers/reassignCtrl.js"></script>   	
    <script src="js/controllers/tabsController.js"></script>  
    <script src="js/controllers/HistoryController.js"></script> 
     <script src="js/controllers/taskHistoryController.js"></script>  	
    <script src="js/controllers/htmlcomponentsController.js"></script> 
    <script src="js/controllers/reassignHistoryCtrl.js"></script>   
    <script src="js/controllers/TaskController.js"></script>   
    <script src="js/controllers/settingsController.js"></script>
	<script src="js/controllers/mapctrl.js"></script>
   <!-- your services js -->
    <script src="js/services/loginService.js"></script>  
    <script src="js/services/dashboardService.js"></script>   
    <script src="js/services/formDetailsService.js"></script>    
    <script src="js/services/storageService.js"></script>    
    <script src="js/services/alertService.js"></script> 
	 <script src="js/services/formSave.js"></script>     
	 <script src="js/services/commonService.js"></script>
    <script src="js/services/setGetObject.js"></script>          
    <script src="js/services/reassignService.js"></script>   
    <script src="js/services/mapService.js"></script> 
     <script src="js/services/globalMethods.js"></script>     	
	<!-- your directives js -->
	 <script src="js/directives/itemSlider.js"></script>  
     <script src="js/directives/GoogleSearchDirective.js"></script> 
     <script src="js/directives/commonDirective.js"></script> 
     <!-- <script src="js/directives/showErrors.js"></script>   -->
      <style>
	  .leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}
	  </style>
   <script>
   $('body').on('click', function (e) {
   $('*[popover]').each(function () {
                //Only do this for all popovers other than the current one that cause this event
                if (!($(this).is(e.target) || $(this).has(e.target).length > 0) 
                     && $(this).siblings('.popover').length !== 0 
                     && $(this).siblings('.popover').has(e.target).length === 0)                  
                {
                     //Remove the popover element from the DOM          
                     $(this).siblings('.popover').remove();
                     //Set the state of the popover in the scope to reflect this          
                     angular.element(this).scope().tt_isOpen = false;
                }
    });
});
   </script>
</head>
<body ng-app="starter">
   <ion-nav-view>

<!--    <script id="templates/signature.html" type="text/ng-template">
  <ion-popover-view class="sig-popup">
    <ion-header-bar class="sig-pop-header">
      <h1 class="title" style="left: 0px;">Signature</h1>
	   <button class="button button-icon button-clear custom-close-button" style="top:1px;right:0px;" ng-click="closesigPopup()">Close
   </button>
    </ion-header-bar>
    <ion-content class='has-header padding' scroll='false'>
          <canvas id='signatureCanvas' width='280' height='180' style='border: 1px solid black;'></canvas>
          <div class='button-bar'>
              <a class='button button-energized' ng-click='clearCanvas()'>Clear</a>
              <a class='button button-balanced' ng-click='saveCanvas()'>Save</a>
          </div>
          <br>
          <img ng-src='{{signature}}' style="width:50px; height:50px;"/>
      </ion-content>
  </ion-popover-view>
</script> -->
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title" style="left:0 !important;">Feature Info</h1>
          <button class="button button-clear button-primary" style="font-size: 13px !important;margin-right: 11px !important;padding-bottom: 9px !important;" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content  style="padding:4px !important;">
          <div ng-repeat="i in info">
				<div ng-repeat="j in i">
			      <div class="layer_head">
				  <h3 style="color:#e42012 !important;">{{j.name}}</h3>
				  </div>
				  <div ng-repeat="(a,b) in j.properties" ng-cloak>
				   <div class="row">
					  <div class="col-md-6" style="line-height: 20px;" ng-if="b"><b>{{a}}</b>&nbsp; : &nbsp;</div>
					  <div class="col-md-6" style="line-height: 20px;" ng-if="b">{{b}}</div>
					</div>
				  </div> 
			  </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
   </ion-nav-view>
   
</body>
</html>